.form_container {
  margin: 0 auto !important;
  align-items: center;
  justify-content: center;
}
.label > label {
  padding-left: 2rem !important;
}
.submit_button {
  width: 10rem !important;
  height: 3rem;
}
.subscribe_page {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscribe_page h5 {
  padding-bottom: 2rem;
}
